.recent-rent{
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__caption{
    margin: 0;
    color: #90A3BF;
  }
  &__caption, &__more-products{
    font-weight: 600;
    text-transform: capitalize;
  }
  &__more-products{
    color: #3563E9;
  }
  //&__items{}
  &__item{
    position: relative;
    width: 100%;
    background: $primary_color;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  &__car-name{
    font-weight: 700;
    color: #1A202C;
  }
  &__car-type{
    color: #90A3BF;
  }
  &__favourite{
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__car-img{
    position: relative;
    width: 100%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__img-shadow{
    position: absolute;
    width: 100%;
    height: 66px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }
  //&__car-config{
  //  margin-bottom: 36px;
  //}
  &__bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__car-price{
    font-weight: 700;
    color: #1A202C;
    span{
      font-weight: 700;
      color: #90A3BF;
    }
  }
  &__btn{
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: 4px;
  }
}

.car-config{
  display: flex;
  justify-content: space-between;
  &__gas, &__transmition, &__capacity{
    display: flex;
    align-items: center;

    font-weight: 500;
    color: #90A3BF;
    svg{
      fill: #90A3BF;
      stroke: none;
    }
  }
}
