.button{
  width: 116px;
  height: 44px;
  background: #3563E9;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}