@font-face {
  font-family: 'Plus Jukarta Sans';
  src: url('../../fonts/PlusJakartaSans-Regular.ttf') format('ttf'),
  url('../../fonts/PlusJakartaSans-Regular.woff') format('woff'),
  url('../../fonts/PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jukarta Sans';
  src: url('../../fonts/PlusJakartaSans-Medium.ttf') format('ttf'),
  url('../../fonts/PlusJakartaSans-Medium.woff') format('woff'),
  url('../../fonts/PlusJakartaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jukarta Sans';
  src: url('../../fonts/PlusJakartaSans-SemiBold.ttf') format('ttf'),
  url('../../fonts/PlusJakartaSans-SemiBold.woff') format('woff'),
  url('../../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Plus Jukarta Sans';
  src: url('../../fonts/PlusJakartaSans-Bold.ttf') format('ttf'),
  url('../../fonts/PlusJakartaSans-Bold.woff') format('woff'),
  url('../../fonts/PlusJakartaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}