@media screen and (min-width: 320px) {
  [class*="__container"]{
    max-width: 1395px;
    padding: 0 10px;
    margin: 0 auto;
  }

  /* Header block */
  .burger{
    &__inner{
      width: 25px;
      height: 18px;
      overflow: hidden;
      cursor: pointer;
    }
    
    order: 1;
    span{
      display: block;
      width: 100%;
      border: 1px solid #3D5278;
      border-radius: 5px;

      /* Fix white background appears in some browsers */
      background: #3D5278;
      &:nth-child(2){
        margin: 6px 0;
      }
    }
  }
  .header{
    &__wrap{
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 32px 0;
      row-gap: 24px;
    }
    &__logo{
      order: 3;
      margin: 0;
      width: 100%;
      flex-shrink: 0;
    }
  }
  .header__logo, .footer__logo{
    max-width: 108px;
  }
  .form{
    display: flex;
    align-items: center;
    column-gap: 16px;
    order: 4;

    height: 48px;
    min-width: 285px;
    max-width: 420px;
    margin: 0;
    &__content, &__search-sett{
      border: 1px solid rgba(195, 212, 233, 0.4);
      border-radius: 10px;
    }
    &__content{
      padding: 0 24px;
      min-width: 200px;
    }
    &__search-fild{
      margin: 0 0 0 8px;
    }
    &__search-sett{
      flex: 0 0 48px;
    }
  }
  .profil{
    width: calc(100% - 25px);
    order: 2;
    &__favorite-list, &__notifications, &__settings{
      display: none;
    }
  }

  /* Main block */
  .aside{
    display: none
  }
  .content{
    width: 100%;
    padding: 32px 0 32px 0;
    overflow: hidden;
  }
  .recent-rent, .recom-car{
    &__header{
      margin: 0 0 20px;
    }
    &__caption{
      font-size: 14px;
      line-height: 18px;
    }
    &__more-products{
      font-size: 12px;
      line-height: 15px;
    }
    &__items{
      flex-wrap: nowrap;
      column-gap: 19px;
    }
    &__item{
      padding: 16px;
      max-width: 240px;
    }
    &__car-name{
      font-size: 16px;
      line-height: 20px;
    }
    &__car-type{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 32px;
    }
    &__car-img{
      height: 56px;
      margin: 0 0 44px 0;
    }
    &__img-shadow{
      bottom: -36px;
    }
    &__car-config{
      margin-bottom: 28px;
    }
    &__car-price{
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.01em;
      span{
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__btn{
      --bs-btn-padding-y: 0.625rem;
      --bs-btn-padding-x: 0.9375rem;
      --bs-btn-font-size: 0.75rem;
      --bs-btn-line-height: 0.9375rem;
    }
  }
  .car-config{
    &__gas, &__transmition, &__capacity{
      font-size: 12px;
      line-height: 15px;
      column-gap: 4px;
    }
  }
  .swiper{
    overflow: hidden;
  }

  /* Footer block */
  .footer{
    background: $bg_color;
    &__wrap{
      flex-direction: column;
      row-gap: 48px;
      margin: 24px 0;
    }
    //&__logo{
    //  max-width: 108px;
    //}
    &__goal-txt{
      font-size: 12px;
      max-width: 216px;
    }
  }
  .nav{
    flex-wrap: wrap;
    row-gap: 48px;
    &__item{
      font-size: 16px;
    }
    &__socials{
      order: 2;
    }
    &__community{
      order: 3;
    }
  }
  .nav__item, .footer__goal-txt{
    font-weight: 500;
    color: #90A3BF;
  }
}


@media screen and (min-width: 425px) {
  /* Header block */
  .header{
    //&__wrap{
    //  column-gap: calc(64px * 100% / 1376px);
    //}
    &__logo{
      width: auto;
      margin-right: 10px;
    }
  }
  .profil, .burger{
    flex: 1 1 calc(100% / 2 - 20px);
  }
  .profil{
    &__notifications{
      display: block;
    }
  }

  /* Main block */
  .recent-rent, .recom-car{
    &__header{
      margin: 0 10px 23px;
    }
    &__item{
      padding: 18px;
      max-width: 270px;
    }
    &__car-type{
      margin-bottom: 40px;
    }
    &__car-img{
      height: 65px;
      margin: 0 0 46px 0;
    }
    &__car-config{
      margin-bottom: 30px;
    }
    //&__car-price{
    //  font-size: 18px;
    //  line-height: 22px;
    //  span{
    //    font-size: 12px;
    //    line-height: 15px;
    //  }
    //}
    &__btn{
      --bs-btn-padding-y: 0.640rem;
      --bs-btn-padding-x: 0.9675rem;
      --bs-btn-font-size: 0.80rem;
      --bs-btn-line-height: 0.9675rem;
    }
  }

  /* Footer block */
  .nav{
    &__socials{
      order: 3;
    }
    &__community{
      order: 2;
    }
  }
}


@media screen and (min-width: 768px) {
  [class*="__container"]{
    max-width: 1405px;
    padding: 0 15px;
  }

  /* Header block */
  .burger{
    display: none;
  }
  .header{
    &__wrap{
      flex-wrap: nowrap;
      row-gap: 0;
      column-gap: calc(30px * 100% / 1376px);
      margin: 40px 0 40px 28px;
    }
    &__logo{
      order: 1;
    }
  }
  .header__logo, .footer__logo{
    max-width: 148px;
  }
  .form{
    height: 44px;
    max-width: 492px;
    min-width: 320px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 70px;
    padding: 0 20px;

    column-gap: 0;
    order: 2;
    &__content, &__search-sett{
      border: none;
      border-radius: 0;
      padding: 0;
    }
    &__search-fild{
      margin: 0 20px;
    }
    &__search-sett{
      flex: 0 0 auto;
    }
  }
  
  .profil{
    order: 3;
    width: auto;
    flex: 1 1 auto;
    &__favorite-list, &__notifications, &__settings{
      display: block;
    }
  }

  /* Main block */
  .recent-rent, .recom-car{
    &__header{
      margin: 0 15px 23px;
    }
    //&__items{
    //  column-gap: 25px;
    //}
    &__items{
      flex-wrap: wrap;
      column-gap: calc(25px * 100% / 1016px);
      row-gap: 25px;
    }
    &__item{
      padding: 20px;
      max-width: 314px;
      flex: 1 1 calc(100% / 3 - (calc(25px * 100% / 1016px)));
    }
    &__car-name{
      font-size: 18px;
      line-height: 23px;
    }
    &__car-type{
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 45px;
    }
    &__car-img{
      height: 70px;
      margin: 0 0 48px 0;
    }
    &__img-shadow{
      bottom: -22px;
    }
    &__car-config{
      margin-bottom: 33px;
    }
    //&__btn{
    //  --bs-btn-padding-y: 0.660rem;
    //  --bs-btn-padding-x: 1rem;
    //  --bs-btn-font-size: 0.90rem;
    //  --bs-btn-line-height: 1rem;
    //}
  }

  /* Footer block */
  .footer{
    background-color: $primary_color;
    &__wrap{
      flex-direction: row;
      row-gap: 0;
      margin: 80px 0 60px 0;
    }
    //&__logo{
    //  max-width: 148px;
    //}
    &__goal-txt{
      font-size: 16px;
      max-width: 292px;
    }
  }
  .footer__goal-txt, .nav__item{
    color: #13131399;
  }
}


@media screen and (min-width: 1024px) {
  [class*="__container"]{
    max-width: 1415px;
    padding: 0 20px;
  }

  /* Header block */
  .header{
    &__wrap{
      column-gap: calc(64px * 100% / 1376px);
    }
  }

   /* Main block */
  .aside{
    display: block
  }
  .content{
    width: calc(100% - calc(348px * 100% / 1375px) + 20px);
    padding-left: 31px;
  }
  .recent-rent, .recom-car{
    &__header{
      margin: 0 20px 26px;
    }
    &__caption, &__more-products{
      font-size: 16px;
      line-height: 20px;
    }
    &__items{
      //flex-wrap: wrap;
      column-gap: calc(32px * 100% / 1016px);
      row-gap: 32px;
    }
    &__item{
      padding: 24px;
      max-width: 317px;
      min-width: 281px;
      //flex: 1 1 calc(100% / 3 - 32px);
      &:hover{
        transform: scale(1.02);
      }
    }
    &__car-name{
      font-size: 20px;
      line-height: 25px;
    }
    &__car-type{
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 52px;
    }
    &__car-img{
      height: 84px;
      margin: 0 0 52px 0;
    }
    &__img-shadow{
      bottom: -24px;
    }
    &__car-config{
      margin-bottom: 36px;
    }
    &__car-price{
      font-size: 20px;
      line-height: 25px;
      span{
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__btn{
      --bs-btn-padding-y: 0.688rem;
      --bs-btn-padding-x: 1.243rem;
      --bs-btn-font-size: 1rem;
      --bs-btn-line-height: 1.25rem;
    }
  }
  .car-config{
    &__gas, &__transmition, &__capacity{
      font-size: 14px;
      line-height: 18px;
      column-gap: 8px;
    }
  }
  .swiper{
    overflow: visible;
  }
}

@media screen and (min-width: 1200px) {
  /* Main block */
  //.recent-rent, .recom-car{
    //&__item{
      //min-width: 281px;
      //flex: 1 1 auto;
    //}
    //&__btn{
    //  //flex: 0 1 50%;
    //  --bs-btn-padding-y: 0.688rem;
    //  --bs-btn-padding-x: 1.243rem;
    //  --bs-btn-font-size: 1rem;
    //  --bs-btn-line-height: 1.25rem;
    //}
  //}
}