.promo{
  margin-left: 328px;
  margin-right: -20px;
  padding: 32px 0 32px 32px;
  background-color: $bg_color;
  height: 100%;
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(32px * 100% / 1016px);

  }
  &__title-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 24px 0 0 24px;
  }
  &__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
    letter-spacing: -0.01em;
    color: $primary_color;
    margin-bottom: 16px;
    max-width: 372px;
  }
  &__sub-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    letter-spacing: 0.02em;
    color: $primary_color;
    max-width: 284px;
    margin-bottom: 48px;
  }
  
}

.car{
  //position: relative;
  //width: 495px;
  height: 508px;
  //flex: 1 1 calc(100% / 2 - 32px);
  &__carousel{
    //width: 495px;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 24px;
    overflow: hidden;
  }
  &__img-box{
    height: 100%;
    width: auto;
    figure{
      margin: 0 0 0 0;
    }
  }
  &__intro{
    position: relative;
    background: #3563E9 url('../../../images/bg.png') center center/contain no-repeat;
    width: 100%;
    height: 100%;
    img{
      position: absolute;
      top: 216px;
      left: 50%;
      transform: translateX(-50%);
      width: 380px;
      height: 120px;
      margin: 0 auto;
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__items{
    width: 100%;
    height: 124px;

    display: flex;
    justify-content: space-between;
    column-gap: calc(24px * 100% / 492px);
  }
  &__item{
    width: 148px;
    height: auto;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    &_active{
      border: 2px solid #3563E9;
      padding: 8px;
    }
    img{
      width: 100%;
      height: 100%;
    }
    &:hover{
      border: 2px solid #3563E9;
      padding: 8px;
    }
  }
}

.about-car{
  //flex: 1 1 calc(100% / 2 - 32px);
  background-color: $primary_color;
  //position: relative;
  padding: 24px 24px 32px 24px;
  min-width: 376px;
  //max-width: 800px;
  &__button{
    --bs-btn-padding-y: 0.938rem;
    --bs-btn-padding-x: 2.05rem;
    --bs-btn-font-weight: 700;
    --bs-btn-font-size: 16px;
    --bs-btn-line-height: 20px;
    --bs-btn-border-radius: 4px;
  }
  &__heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */
    color: #1A202C;
    margin-bottom: 8px;
  }
  &__rate{
    display: flex;
    max-height: 24px;
    column-gap: calc(8px * 100% / 441px);
    margin-bottom: 32px;
  }
  &__rate-items{
    svg{
      fill: none;
      stroke: #C3D4E9;
      &:not(:last-child){
        fill: #FBAD39;
        stroke: none;
      }
    }
  }
  &__num-reviews{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #3D5278;
  }
  &__favourite{
    position: absolute;
    top: 24px;
    right: 24px;
  }
  &__txt{
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    /* or 40px */
    letter-spacing: -0.02em;
    color: #3D5278;
    margin-bottom: 32px;
  }
  &__config{
    margin-bottom: 68px;
  }
  &__rent{
    display: flex;
    justify-content: space-between;
  }
  &__price{
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #1A202C;
  }
  &__price-sale, &__price span{
    font-size: 16px;
    line-height: 20px;
    color: #90A3BF;
  }
  &__price-sale{
    text-decoration: line-through;
  }
}

.car, .about-car{
  flex: 1 1 calc(100% / 2 - 32px);
  position: relative;
  max-width: 800px;
}

.favourite{
  cursor: pointer;
  svg{
    fill: #ED3F3F;
    stroke: none;
  }
}

.config{
  &__spec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
  &__spec-item{
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #90A3BF;
    max-width: 200px;

    display: flex;
    justify-content: space-between;
    span{
      font-weight: 600;
      color: #3D5278;
      margin-left: 10px;
    }
    &:not(:last-child){
      margin-right: 10px;
    }
  }
}

.car__carousel, .about-car{
  border-radius: 10px;
}
