.feedback{
  background: $primary_color;
  border-radius: 10px;
  &__wrap{
    padding: 24px;
  }
  &__title-wrap{
    text-align: left;
    margin-bottom: 32px;
  }
  &__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #1A202C;
    display: inline-block;
    margin: 0 12px 0 0;
  }
  &__num-feedback{
    display: inline-block;
    background: $blue_color;
    width: 44px;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    padding: 6px 15px;
    span{
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: $primary_color;
    }
  }

  &__customer-feedbacks{
    display: flex;
    flex-direction: column;
  }
  &__customer-feedback{
    margin-bottom: 24px;
  }
  &__heading-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__client-img{
    border-radius: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__client-name-wrap{
    flex: 1 1 auto;
  }
  &__client-name{
    color: #1A202C;
    margin-bottom: 8px;
  }
  &__client-position,  &__data{
    font-weight: 500;
    color: #90A3BF;
  }
  &__data{
    text-align: right;
    margin-bottom: 8px;
  }
  &__client-rate{
    svg{
      fill: none;
      stroke: none;
      &:not(:last-child){
        fill: #fbad39;
      }
      &:last-child{
        stroke: #c3d4e9;
      }
    }
  }
  &__txt{
    p{
      font-weight: 400;
      line-height: 200%;
      /* or 28px */
      letter-spacing: -0.02em;
      color: #3D5278;
      margin: 0;
    }
  }
  &__collapse-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #90A3BF;
    svg{
      vertical-align: unset;
      transform: rotateX(180deg);
      transition: transform 0.4s ease-in-out;
    }
  }
  .collapsed{
    svg{
      transform: rotate(0deg);
    }
  }
}