@import './base/reset';
@import './base/variables';
@import './base/fonts';

[class*="__container"]{
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 20px;
}

html, body{
  height: 100%;
  font-family: 'Plus Jukarta Sans', sans-serif;
  font-weight: 400;
}

body{
  display: flex;
  flex-direction: column;
  background: #E3E3E3;
}

@import './base/button';

// Main BEM blocks
@import './header/header';
@import './main/main';
@import './footer/footer';

// For adaptation
@import './base/media';