@import './base/reset';
@import './base/variables';
@import './base/fonts';

[class*="__container"]{
  max-width: 1396px;
  margin: 0 auto;
}

html, body{
  min-height: 100vh;
  font-family: 'Plus Jukarta Sans', sans-serif;
  font-weight: 400;
}

body{
  display: flex;
  flex-direction: column;
  //background: #E3E3E3;
}

.content{
  padding: 32px 0 32px 32px;
  //background-color: $bg_color;
  margin-left: 328px;
}

/* Aditional BEM blocks */
@import './base/button';
@import './base/logo';


/* Main BEM blocks */
@import './header/header';
@import './main/main';
@import './footer/footer';

/* For adaptation */
@import './base/media';